
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 5vw;
}

h5 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  


}

.card-body a {
    word-break: break-all;
  }

  .articleHeadline {
    line-height: 1.5;
  }

  img {
    width: 400px;
    height: 300px;
  }